.template, .evren, .calanthe, .levent {
  display: none;
}

::selection {
  background: #24ad95;
}

::-moz-selection {
  background: #24ad95;
}

::-webkit-selection {
  background: #24ad95;
}

body {
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-image: url("https://dl.dropboxusercontent.com/s/cw3eo00k5te12no/dark_exa_%402X.png");
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

#s-m-t-tooltip {
  max-width: 300px;
  z-index: 10;
  margin: 24px 14px 7px 12px;
  padding: 8px;
  background: #141414;
  font-size: 12px;
  color: #bbbbbb;
  font-family: 'Muli', sans-serif;
  border: 2px solid #262626;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #bbbbbb;
}

i {
  color: #24ad95;
}

s {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

s:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid #373737;
  height: 45%;
  width: 100%;
}

hr {
  background-color: #262626;
  border: none;
  height: 2px;
  width: 50%;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.header {
  float: left;
  position: fixed;
  left: 5%;
  font-size: 100px;
  top: 50px;
  z-index: 9;
  font-family: 'Monsieur La Doulaise', cursive;
  cursor: default;
  color: #bbbbbb;
  text-shadow: -3px 1px #141414, 1px 3px #262626, 3px 1px #141414, 1px -3px #141414;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.line {
  border-top: 2px solid #262626;
  padding-top: 5px;
  padding-right: 25px;
  color: #bbbbbb;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.linelabel {
  font-family: 'Days One', sans-serif;
  margin-top: -28px;
  font-size: 22px;
  display: inline;
  position: relative;
  float: left;
  padding-left: 15px;
  z-index: 9;
  cursor: default;
  text-transform: lowercase;
  color: #24ad95;
  text-shadow: -2px 0 #141414, 0 2px #141414, 2px 0 #141414, 0 -2px #141414;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.linelabel::first-letter {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

.tabs-menu-mover {
  width: 75%;
  max-width: 1000px;
  background-color: black;
  left: 4%;
  position: relative;
  display: inline-block;
}

.tabs-menu {
  clear: both;
  display: inline-block;
  position: relative;
  top: 150px;
}

.tabs-menu li a {
  padding: 2px;
  padding-right: 25px;
  text-transform: uppercase;
  color: #24ad95;
  font-family: 'Days One', sans-serif;
  font-size: 10px;
  text-decoration: none;
  text-align: right;
  display: inline-block;
  margin-bottom: 1px;
  background-color: #373737;
  border-radius: 0px 25px 25px 0px;
  width: 150px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.tabs-menu li a:hover {
  width: 180px;
}

.tabs-menu .current a {
  color: #bbbbbb;
  background-color: #262626;
  width: 180px;
}

.tab {
  border: 2px solid #262626;
  border-radius: 10px;
  width: 75%;
  max-width: 1000px;
  background-color: #141414;
  left: 4%;
  bottom: 18%;
  top: 150px;
  position: fixed;
  z-index: 8;
  color: #bbbbbb;
  overflow: scroll;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.tab-content {
  display: none;
  padding: 20px;
}

#tab-1 {
  display: block;
}

.infobox {
  font-size: 15px;
  text-align: right;
  width: 46%;
  font-family: 'Muli', sans-serif;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  height: 33px;
}

.infobox .answer {
  margin-left: 16%;
  height: 100%;
}

#hpexp {
  width: 50%;
  padding: 30px 10px;
  border-right: 2px solid #262626;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

#hp {
  font-family: 'Days One', sans-serif;
  font-size: 35px;
  margin-top: -20px;
  float: left;
  padding-left: 35px;
  display: inline-block;
  cursor: default;
  position: relative;
  text-shadow: -3px 0 #141414, 0 3px #141414, 3px 0 #141414, 0 -3px #141414;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#exp {
  font-family: 'Days One', sans-serif;
  font-size: 35px;
  display: inline-block;
  position: relative;
  text-align: right;
  padding-top: 50px;
  text-shadow: -3px 0 #141414, 0 3px #141414, 3px 0 #141414, 0 -3px #141414;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.hpbar {
  position: relative;
  height: 15px;
  margin: 0px 20px;
  background-color: #373737;
  border-radius: 50px 50px 50px 50px;
  opacity: 0.7;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.hpbarinner {
  position: absolute;
  height: 15px;
  background-color: darkred;
  background-image: url("https://dl.dropboxusercontent.com/s/e6g1iuwl5kywcaj/black-twill%20%281%29.png");
  border-radius: 50px 50px 50px 50px;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.circles {
  float: right;
  width: 45%;
  margin-top: -160px;
  padding: 30px 0px;
}

.circle {
  display: inline-block;
  background-color: #262626;
  border-radius: 100px 50px 50px 100px;
  width: 100px;
  height: 50px;
  float: right;
  margin: 10px 20px 5px 20px;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

#circlevalue {
  text-shadow: -3px 0 #141414, 0 3px #141414, 3px 0 #141414, 0 -3px #141414;
  font-family: 'Days One', sans-serif;
  font-size: 50px;
  float: left;
  cursor: default;
  right: 10px;
  position: relative;
  display: inline-block;
  color: #24ad95;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#circlevalue a {
  color: #24ad95;
  cursor: default;
}

#circlelabel {
  float: right;
  position: relative;
  font-family: 'Days One', sans-serif;
  font-size: 18px;
  display: inline-block;
  width: 150px;
  cursor: default;
  margin-top: -85px;
  margin-right: -10px;
  text-align: right;
  text-shadow: -3px 0 #141414, 0 3px #141414, 3px 0 #141414, 0 -3px #141414;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#statline {
  padding: 20px;
  width: 44%;
  display: inline-block;
}

#statline a {
  color: #bbbbbb;
  cursor: default;
}

#statprof {
  float: left;
  position: relative;
  z-index: 9;
  font-size: 24px;
  margin-left: 10px;
  margin-top: -9px;
  text-shadow: -3px 0 #141414, 0 3px #141414, 3px 0 #141414, 0 -3px #141414;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

#stat {
  display: inline;
  font-family: 'Days One', sans-serif;
  position: relative;
  font-size: 35px;
  float: left;
  z-index: 9;
  margin-top: -17px;
  margin-left: 15px;
  cursor: default;
  text-shadow: -3px 0 #141414, 0 3px #141414, 3px 0 #141414, 0 -3px #141414;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#stat2 {
  font-family: 'Days One', sans-serif;
  display: inline;
  margin-top: -20px;
  font-size: 40px;
  position: relative;
  float: right;
  cursor: default;
  padding-right: 10px;
  text-shadow: -3px 0 #141414, 0 3px #141414, 3px 0 #141414, 0 -3px #141414;
  z-index: 9;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.bar {
  position: relative;
  height: 12px;
  margin-top: 3px;
  margin-bottom: -5px;
  background-color: #262626;
  border-radius: 50px 50px 50px 50px;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.barinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  background-color: #373737;
  border-radius: 50px 50px 50px 50px;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.chara {
  display: inline-block;
}

.chara-roll {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
  min-height: 100px;
  padding-left: 100px;
  background-color: #141414;
  border-top: 2px solid #373737;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}

.chara-roll img {
  height: 50px;
  width: 50px;
}

.chara-roll button {
  border: 2px solid;
  border-radius: 50px 50px 10px 10px;
  margin: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
  height: 100px;
  width: 150px;
  font-family: 'Days One', sans-serif;
  font-size: 20px;
  box-shadow: 0 0 0 2px #262626;
}

.chara-roll button b {
  float: right;
  margin-top: 56%;
  margin-right: -7%;
  text-align: right;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.levent {
  display: inline;
}
