.chara {
	display: inline-block;
}

.chara-roll {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
  min-height: 100px;
  padding-left: 100px;
  background-color: $backgroundcolor;
  border-top: 2px solid $border1color;
  @include transition(linear .3s)
}

.chara-roll img {
  height: 50px;
  width: 50px;
}

.chara-roll button {
  border: 2px solid;
  border-radius: 50px 50px 10px 10px;
  margin: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
  height: 100px;
  width: 150px;
  font-family: 'Days One', sans-serif;
  font-size: 20px;
  box-shadow: 0 0 0 2px $border2color;
}

.chara-roll button b {
  float: right;
  margin-top: 56%;
  margin-right: -7%;
  text-align: right;
  text-shadow:  -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  @include user-select(none)
}