

::selection {
	background: $accentcolor;
}

::-moz-selection {
	background: $accentcolor;
}

::-webkit-selection {
	background: $accentcolor;
}

body {
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-image: url($backgroundimage);
  @include transition(linear .3s)
}

#s-m-t-tooltip {
    max-width: 300px;
    z-index: 10;
    margin: 24px 14px 7px 12px;
    padding: 8px;
    background: $backgroundcolor;
    font-size: 12px;
    color: $fontcolor;
    font-family: 'Muli', sans-serif;
    border: 2px solid $border2color;
	border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

ul {
  list-style-type: none;
}

a {
	text-decoration: none;
	color: $fontcolor
}

i{
	color: $accentcolor
}

s {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

s:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid $border1color;
  height: 45%;
  width: 100%;
}

hr {
    background-color: $border2color;
    border: none;
    height: 2px;
	width: 50%;
	@include transition(linear .3s)
}

.header {
  float: left;
  position: fixed;
  left: 5%;
  font-size: 100px;
  top: 50px;
  z-index: 9;
  font-family: 'Monsieur La Doulaise', cursive;
  cursor: default;
  color: $fontcolor;
  text-shadow: -3px 1px $backgroundcolor, 1px 3px $border2color, 3px 1px $backgroundcolor, 1px -3px $backgroundcolor;
  @include user-select(none)
  @include transition(linear .3s)
}

.line {
  border-top: 2px solid $border2color;
  padding-top: 5px;
  padding-right: 25px;
  color: $fontcolor;
  @include transition(linear .3s)
}

.linelabel {
  font-family: 'Days One', sans-serif;
  margin-top: -28px;
  font-size: 22px;
  display: inline;
  position: relative;
  float: left;
  padding-left: 15px;
  z-index: 9;
  cursor: default;
  text-transform: lowercase;
  color: $accentcolor;
  text-shadow: -2px 0 $backgroundcolor, 0 2px $backgroundcolor, 2px 0 $backgroundcolor, 0 -2px $backgroundcolor;
  @include user-select(none)
  @include transition(linear .3s)
}

.linelabel::first-letter {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}