.infobox {
  font-size: 15px;
  text-align: right;
  width: 46%;
  font-family: 'Muli', sans-serif;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  height: 33px;
}

.infobox .answer {
	margin-left: 16%;
	height: 100%;
}

#hpexp {
	width: 50%;
	padding: 30px 10px;
	border-right: 2px solid $border2color;
	@include transition(linear .3s)
}
      
#hp {
    font-family: 'Days One', sans-serif;
    font-size: 35px;
    margin-top: -20px;
    float: left;
    padding-left: 35px;
    display: inline-block;
	cursor: default;
    position: relative;
    text-shadow: -3px 0 $backgroundcolor, 0 3px $backgroundcolor, 3px 0 $backgroundcolor, 0 -3px $backgroundcolor;
	@include transition(linear .3s)
	@include user-select(none)
}

#exp {
    font-family: 'Days One', sans-serif;
    font-size: 35px;
    display: inline-block;
    position: relative;
	text-align: right;
	padding-top: 50px;
    text-shadow: -3px 0 $backgroundcolor, 0 3px $backgroundcolor, 3px 0 $backgroundcolor, 0 -3px $backgroundcolor;
	@include transition(linear .3s)
}
      
.hpbar {
    position: relative;
    height: 15px;
    margin: 0px 20px;
    background-color:  $border1color;
    border-radius: 50px 50px 50px 50px;
    opacity: 0.7;
	@include transition(linear .3s)
}
      
.hpbarinner {
    position: absolute;
    height: 15px;
    background-color: darkred;
    background-image: url("https://dl.dropboxusercontent.com/s/e6g1iuwl5kywcaj/black-twill%20%281%29.png");
    border-radius: 50px 50px 50px 50px;
	@include transition(linear .3s)
}

.circles {
	float: right;
	width: 45%;
	margin-top: -160px;
	padding: 30px 0px;
}

.circle {
    display: inline-block;
    background-color: $border2color;
	border-radius: 100px 50px 50px 100px;
    width: 100px;
    height: 50px;
	float:right;
    margin: 10px 20px 5px 20px;
	@include transition(linear .3s)
}
      
#circlevalue {
    text-shadow: -3px 0 $backgroundcolor, 0 3px $backgroundcolor, 3px 0 $backgroundcolor, 0 -3px $backgroundcolor;
 font-family: 'Days One', sans-serif;
    font-size: 50px;
    float: left;
	cursor: default;
	right: 10px;
    position: relative;
	display: inline-block;
    color: $accentcolor;
	@include transition(linear .3s)
	@include user-select(none)
}

#circlevalue a {
	color: $accentcolor;
	cursor: default;
}
      
#circlelabel {
    float: right;
    position: relative;
    font-family: 'Days One', sans-serif;
    font-size: 18px;
	display: inline-block;
	width: 150px;
	cursor: default;
	margin-top: -85px;
	margin-right: -10px;
	text-align: right;
    text-shadow: -3px 0 $backgroundcolor, 0 3px $backgroundcolor, 3px 0 $backgroundcolor, 0 -3px $backgroundcolor;
	@include transition(linear .3s)
	@include user-select(none)
}

#statline {
        padding: 20px;
        width: 44%;
        display: inline-block;
}
	  
#statline a {
    color: $fontcolor;
	cursor: default;
}
      
#statprof {
    float: left;
    position: relative;
    z-index: 9;
    font-size: 24px;
    margin-left: 10px;
    margin-top: -9px;
    text-shadow: -3px 0 $backgroundcolor, 0 3px $backgroundcolor, 3px 0 $backgroundcolor, 0 -3px $backgroundcolor;
	@include transition(linear .3s)
}
      
#stat {
    display: inline;
    font-family: 'Days One', sans-serif;
    position: relative;
    font-size: 35px;
    float: left;
    z-index: 9;
    margin-top: -17px;
    margin-left: 15px;
	cursor: default;
    text-shadow: -3px 0 $backgroundcolor, 0 3px $backgroundcolor, 3px 0 $backgroundcolor, 0 -3px $backgroundcolor;
	@include transition(linear .3s)
	@include user-select(none)
}

#stat2 {
    font-family: 'Days One', sans-serif;
    display: inline;
    margin-top: -20px;
    font-size: 40px;
    position: relative;
    float: right;
	cursor: default;
    padding-right: 10px;
    text-shadow: -3px 0 $backgroundcolor, 0 3px $backgroundcolor, 3px 0 $backgroundcolor, 0 -3px $backgroundcolor;
    z-index: 9;
	@include transition(linear .3s)
	@include user-select(none)
}
      
.bar {
    position: relative;
    height: 12px;
    margin-top: 3px;
    margin-bottom: -5px;
    background-color: $border2color;
    border-radius: 50px 50px 50px 50px;
	@include transition(linear .3s)
}
      
.barinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    background-color: $border1color;
    border-radius: 50px 50px 50px 50px;
	@include transition(linear .3s)
}