.infobox {
  font-size: 15px;
  text-align: right;
  width: 46%;
  font-family: 'muli';
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  height: 33px;
}

.infobox .answer {
	margin-left: 16%;
	height: 100%;
}