// Variables

$backgroundimage: "https://dl.dropboxusercontent.com/s/wd5ch8lxk2gsnh7/halftone.png";

$backgroundcolor: #ffffff;
$border1color: #cccccc;
$border2color: #dddddd;
$fontcolor: #666666;
$accentcolor: #be9a18;

@import 'universal';
@import 'mixins';

.template {
	display: inline;
}