// Variables

$backgroundimage: "https://dl.dropboxusercontent.com/s/wzefj6uo0b00bqz/stardust.png";

$backgroundcolor: #131218;
$border1color: #201e21;
$border2color: #353137;
$fontcolor: #bbbbbb;
$accentcolor: #5040b1;

@import 'universal';
@import 'mixins';

.evren {
	display: inline;
}

